
body {
  background-color: #f1f0f0;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 25px;
}

.testHeader {
  margin-left: 40px;
}

.testList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

ul {
  list-style-type: none;
}

ul li {
  width: 50%;
  height: 40px;
  position: relative;
  border-bottom: 2px solid steelblue;
  padding-top: 20px;
}

button {
  background-color: #a184ad;
  width: 100px;
  height: 2rem;
  position: absolute;
  right: -10px;
  margin-top: -7px;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
  border: none;
}

button:visited {
  background-color: #3cb371;
}

button:focus {
  outline: none;
}

button:active {
  background-color:green;
  border-radius: 12px;
  border: none;
}

.videoContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.video {
  grid-area: 1/1/1/1;
}

video:focus {
  outline: none;
}

.controlBar{
  display: inline-grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #cfced3;
  height: 50px;
  width: 500px;
  margin-top: 50px;
  border-radius: 12px;
}

.controlBarItem {
  margin: 10px;
}

#rewind {
  transform: scaleX(-1);
}

#enteredTime {
  padding: 5px;
  width: 80px;
}

.submitButton {
  position: relative;
  margin-top: -1px;
  right: 0;
  left: -10px;
}

.toolTip {
  position: relative;
  display: inline-block;
}

.toolTip .toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.toolTip .toolTipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.toolTip:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}

.toolTip:hover .toolTipRewindText {
  visibility: visible;
  opacity: 1;
  transform: scaleX(-1);
}
